
*{
    display:border-box;
}
.fixed-top{
    position:fixed;
    top:0;
    right:0;
    left:0;
}
.typed{
    overflow:hidden;
    white-space:nowrap;
    /* might change the above element as it keeps the text on one line */
    width:0;
    max-width:fit-content;
    font-size:5rem;
    border-right:5px solid ;
    /* our cursor */
    animation:typing 3.5s steps(20,end) forwards, blinking 0.87s infinite;
    padding:0;
    display:inline-block;
    margin:0 auto;
    
    /* ahhh now I remember what is shorthand,this animation is infinite and loop every 1s */
    

}
.quote{
  font-size:2.0rem;
  font-weight:350;
}

.column h1{
    font-size:3.5rem;
    line-height:6rem
}
.column p{
    font-size:1.5rem;
}
@keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }

@keyframes typing{
    from {width:0}
    to {width:100%}
}
@keyframes blinking{
    0% {border-color:transparent}
    50% {border-color:black}
    100% {border-color:transparent}
}

.img-banner {
    /* The image used */
    background-image: url("../Images/anime.jpg");
    /* https://www.pxfuel.com/en/desktop-wallpaper-evgbt
    got it from this website shows an anime susnet with a city in the background */

  
    /* Add the blur effect */
    /* Full height*/
    
    height: 100vh;
    /* The height is set like that to accomodate for the bgtext and the gaps */
  
    /* Center the image nicely the background position is to adjust the background image where it would focus on in the image */
    background-position:center center;
    background-repeat: no-repeat;
    
    /* background-size:100% 100%; */
    background-attachment: fixed;
    background-size:cover;
    width:100vw;


  }
  
  .class{
    width:auto;
  }
  .headertext1{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

  }
  .mt-5{
    margin-top:6.0rem !important;
  }
  .content-area{
    width:100%;
    height:800px;
    position:relative;
    background:white;
    top:100px;

  }
 
@media only screen and (max-width: 500px) {
    .sidebar{
    background-color: rgba(255,255,255,0.3);
    backdrop-filter:blur(5px);}
    }

@media screen and (min-width: 600px) {
        #header {
          font-size: 6vh;
        }
      }
      
      /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 500px) {
        #header {
          font-size: 3vh;
        }
    }
    @keyframes blobanimation {
        0% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
    
        50% {
            border-radius: 30% 60% 70% 70% / 60% 30% 70% 40%;
        }
    
        100% {
            border-radius: 60% 40% 30% 70% / 60% 30% 30% 60%;
        }
    }
    
        .box {
            background: url("../Images/Self_Image.jpg");
            /* Source:This came from me of course */
            max-width: 100%;
            height: 30.0rem;
            width: 30.0rem;
            background-size: cover;
            background-position: center center;
            animation: blobanimation 10s ease-in-out infinite;
            transition: all 0.7s ease-in-out;
        }
        
        
        @media screen and (max-width: 600px) {
            .box {
                height: 24.0rem;
                width: 24.0rem;
            }
        }
        @media screen and (max-width: 300px) {
            .box {
                height: 22.0rem;
                width: 22.0rem;
            }
        }
        
        
@media screen and (max-width: 250px) {
        #header {
          font-size: 1.5vh;
        }
      }
.values{
    font-size:3.5rem;
}
.content-area + .column{



}
.name {
  font-size: 18px;
  transition: font-size 0.3s ease-in-out;
}

@media (max-width: 990px) {
  .header {
    font-size: 3.5rem;
  }
}
@media (max-width: 692px) {
  .header {
    font-size: 2.5rem;
  }
}
@media (max-width:654px){
  .carousel_caption h5{
    font-size:1.5rem

  }
}
@media (max-width: 497px) {
  .header {
    font-size: 1.5rem;
  }
}
@media (max-width: 300px) {
  .header {
    font-size: 1.0rem;
  }
}

.nav-item a:hover{
  filter:blur(0);
  cursor:pointer;
  letter-spacing:1px;
  background: linear-gradient(90deg, rgb(50,50,245),35%,rgb(255,0,231) 100%)

}
.carousel-caption{
  bottom:180px;
}
.center_carouselh5{
  font-size:4.5rem;
}
footer{
  position:relative;;
  width:100%;
  background:black;
  min-height:100px;
  padding:25px 30px;
  display:flex;
  justify-content:center;
  align-items:center;
}
footer .social_icon{
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:20px;
  flex-wrap:wrap;


}
footer .social_icon li{
  list-style:none;
}
footer .social_icon li a{
  font-size:3em;
  margin:10px;
  color:white;
  
}


.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:20rem;
}

  
  /* Using flex with the column direction to
  align items in a vertical direction */
  
  .details {
  
  margin-top:5px;
  }
  
  .track-art {
  margin: 15px;
  height: 300px;
  width:200px;
  background-image: url(
    "../Images/earth.jpg");
  /* Source:I got it form here https://spacenews.com/op-ed-sustainability-on-earth-depends-on-our-exploration-of-space/ */
  background-size: cover;
  border-radius: 15%;
  background-position:center
  }
  
  /* Changing the font sizes to suitable ones */
  .now-playing {
  font-size: 1rem;
  }
  
  .track-name {
  font-size: 3rem;
  }
  
  .track-artist {
  font-size: 1.5rem;
  }
  
  /* Using flex with the row direction to
  align items in a horizontal direction */
  
  .playpause-track,
  .prev-track,
  .next-track {
  padding: 25px;
  opacity: 0.8;
  
  /* Smoothly transition the opacity */
  transition: opacity .2s;
  }
  
  /* Change the opacity when mouse is hovered */
  .playpause-track:hover,
  .prev-track:hover,
  .next-track:hover {
  opacity: 1.0;
  }
  
  /* Define the slider width so that it scales properly */
  
  /* Modify the appearance of the slider */
 
  /* Modify the appearance of the slider thumb */
  
  
  /* Change the opacity when mouse is hovered */
  
  
  
  
  /* Change the mouse cursor to a pointer
  when hovered over */
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward {
  cursor: pointer;
  }
  